<%- include("./include/header.ejs") -%> 

  <!-- Body -->
  <main>
    <div class="container">
      you have no authority to <%= message %> the information.
    </div>
  </main>

<%- include("./include/footer.ejs") -%>