<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <img src="https://i.imgur.com/k6HL0am.png" alt="이미지 설명" style="max-width: 100%; height: auto;">

    <form action="/upload" method="post" enctype="multipart/form-data"> <!-- 멀티파트 폼 데이터 -->
        <input type="file" name="image">
        <input type="text" name="title">
        <button type="submit">Submit</button>
    </form>
</body>
</html>