<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Website</title>
  <link rel="stylesheet" href="/styles/styles.css" />
  <!-- 이 코드가 필요함 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

  <!-- Header -->
  <header>
    <div class="container">
      <h1><a href="/">My Website</a></h1>
      <nav>
        <ul>
          <li><a href="/">홈</a></li>
          <li><a href="/about">소개</a></li>
          <li><a href="/board">게시글</a></li>
          <li><a href="/myboard">내 게시글</a></li>
          <% if (!userID) { %>
            <li><a href="/login">로그인</a></li>
          <% } else { %>
            <li><a href="/myprofile">내 프로필</a></li>
            <li><a href="/logout">logout</a></li>
          <% } %>
        </ul>
      </nav>
    </div>
  </header>